{% extends "basefront.html.twig" %}
{% block body %}
    <div>
        <h3> Bienvenue sur mon site personnel de présentation de mes voyages. </h3>
        <p>
            Vous avez accès à mes voyages en cliquant ici : <a href="/mesvoyages/public/index.php/voyages">Voyages</a>
        </p>
        <p> 
            Vous pouvez également me contacter en cliquant ici : <a href="/mesvoyages/public/index.php/contact">Contact</a>
        </p>
        <p>
        Voici mes 2 derniers voyages :
    </p>
    <table>
        <tr>
            {% for visite in visites %}
                <td style="vertical-align: text-top; width: 50%">
                    <div class="row">
                        <div class="col">
                            <!-- emplacement photo -->
                            {% if visite.imagename %}
                                <img src="{{ app.request.getBasePath()~vich_uploader_asset(visite, 'imageFile') }}" 
                                     class="card-img-top" style="width:100%;height:auto;">
                            {% endif %}
                        </div>
                        <div class="col">
                            <p>{{ visite.datecreationstring }}</p>
                            <h5 class="text-primary">
                                <a href="{{ path('voyages.showone', {id:visite.id}) }}">{{ visite.ville }}</a>
                            </h5>
                            <p>{{ visite.pays }}</p>
                            {% if visite.note>=10 %}
                                <div class="text-success">{{ visite.note }}/20</div>
                            {% else %}
                                <div class="text-danger">{{ visite.note }}/20</div>
                            {% endif %}
                            t° entre {{ visite.tempmin }}° et {{ visite.tempmax }}°<br />
                            <strong>Environnements :</strong><br/>
                            {% for environnement in visite.environnements %}
                                {{ environnement.nom }}
                            {% endfor %}
                        </div>    
                    </div>                    
                </td>
            {% endfor %}    
        </tr>
    </table>
{% endblock %}